# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# 환경 설정
.env
*.env

# VSCode 등 IDE 설정
.vscode/
.idea/

# macOS 시스템 파일
.DS_Store

# 로그 파일
*.log

# 가상환경
venv/
.envrc
.venv/

# pip cache
pip-wheel-metadata/
*.egg-info/
dist/
build/

# CSV, 백업 데이터 (선택)
*.csv
*.sqlite3
*.db

# dotenv 환경 자동 파일 생성 방지
.env.*
